# Terraform
*.tfstate
*.tfstate.*
.terraform/
terraform.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Talos
talosconfig
kubeconfig
controlplane.yaml
worker.yaml
*.yaml.bak
configs/
.schematic_base_id
.schematic_gpu_id
